main {
  width: 45%;
}

.book {
  display: flex;
  flex-direction: column;
}

.book-title {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.author {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.add-button {
  width: 30%;
  padding: 5px;
  margin: 5px;
}
